<h1>Product List</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!productList"><em>Loading...</em></p>

<table class='table' *ngIf="productList">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description (C)</th>
      <th>Price</th>
      <th>Number of units available</th>
      <th>Units</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList">
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.available }}</td>
      <td>{{ product.unit }}</td>
    </tr>
  </tbody>
</table>
